{% extends 'base.html.twig' %}

{% block title %}Hello TasksController!
{% endblock %}

{% block body %}
	<div class="section">
		<h1>La page des Tâches</h1>

		<div class="flex-direction">
			{% for projects in projects %}
				{% for task in tasksTable[projects.id] %}
					<div class="py-2">
						{{task.name}}
						<i class="fa-solid fa-square-check"></i>
						<i class="fa-solid fa-xmark"></i>
					</div>
				{% endfor %}
			{% endfor %}
		</div>

		<a href="{{ path('app_home')}}">Voulez-vous retournez vers la page de votre projet ???</a>
	</div>
{% endblock %}
